* {
  font-family: monospace;
  font-size: 14px;
  color: #ffffff;
}

window#waybar {
  background: #4f0f00;
}

#clock,
#custom-firefox,
#custom-ping,
#custom-plus,
#custom-vol_up,
#custom-vol_down,
#custom-vpn,
#custom-wvkbd,
#custom-wofi,
#network,
#pulseaudio{
  padding: 10 10 8 10px;
  border-radius: 5px;
}

#workspaces button {
    padding: 10 10 8 10px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button.focused {
  background-color: #bf7f0f;
  color: #ffffff;
  border-radius: 0px;
  font-weight: bold;
}

button:hover {
  background: inherit;
}
